<mat-tab-group>
  <mat-tab label="About project">
    <h3>All your work in one place</h3>
    <blockquote>The human mind is great at generating ideas, not retaining them. Since time immemorial, we have been
      using task management solutions. From clay tablets, notepads, spreadsheets to the task manager apps. We have
      always needed help in keeping track of work.</blockquote>
    <p>Planning Man makes it easy for business teams to collaborate, align, and deliver work, all in one place.</p>
  </mat-tab>
  <mat-tab label="Developer">
  <h3>Anastasiya Vasilyeva</h3>
  <blockquote>TI believe that IT is the future and it is very interesting for me to develop in this direction.

    I want to gain knowledge and skills that will be enough for employment in the company.

    I am an idea person, very proactive, quite flexible, mobile and creative. And thanks to the experience of working as a
    chief accountant in a consulting company, I can find a way out of any situation without stress.</blockquote>
    <ul>
     <h4>Skills and Proficiency:</h4>
      <li>HTML5,CSS</li>
      <li>JavaScript</li>
      <li>Git, GitHub</li>
      <li>Angular</li>
    </ul>
  </mat-tab>
  <mat-tab label="Course">
    <h3>Front-end Mentoring Program (in English)</h3>
    <blockquote> Training Program
      The program consists of 3 stages. There may be requirements for advancing to each higher stage, which will be described below. This specific run of the program will take the form of self-study. This means that you will have access to pre-recorded webinars, recommended materials, and weekly live Q&A sessions with our mentors/coordinators to answer any questions you might have. You will also have the ability to communicate with other students and help each other solve any problems you might face. We will provide you with a list of topics that should be covered for each stage with recommended deadlines, but you will have the freedom to choose when you want to watch the lectures and complete the tasks. BE AWARE that practical tasks’ deadlines are not suggestions, and should be respected.

      STAGE 1

      Everyone registered is automatically eligible for this stage.
      The first stage lasts 11 weeks.
      This stage includes practical assignments and tests. Evaluation is either automatic or in the form of cross-checking between students.
      Topics covered: Git, HTML, CSS, and Javascript basics.
      STAGE 2

      To pass to the second stage, you must successfully complete the tasks and tests from the first stage without missing the deadlines, and pass a mock technical interview with one of our mentors.

      The second stage lasts 10 weeks.
      You will be assigned a personal mentor who will answer your questions from now on.
      This stage includes practical exercises and tests which will be reviewed and evaluated by your mentor.
      Topics covered: Advanced Javascript, Security, Testing, Agile, Networking, and web development tools.
      STAGE 3

      To pass to the third stage, you must successfully complete the tasks and tests from the second stage without missing the deadlines. You must also pass a mock technical interview with one of our mentors (but not your personal mentor).

      The third stage lasts 2 months.
      During this stage, you will continue with your studies as in the second stage, but the top-performing students will also get regular opportunities to participate in technical interviews for real projects. If you pass one of these interviews, you will receive a job offer from EPAM.
      You will receive a verifiable digital certificate of completion once you finish the final tasks of the course.
      Topics covered: Angular.</blockquote>

  </mat-tab>
  </mat-tab-group>
