<!-- <div class="wrap"> -->
  <!-- <div class="search"></div> -->
  <!-- <mat-toolbar color="primary">

   </mat-toolbar> -->
   <!-- <div class="content-wrapper">
    <button (click)="newTask()" mat-button>
      <mat-icon>add</mat-icon> Add Task
    </button>

    <div class="container-wrapper">
      <div class="container">
        ...
      </div>
  </div> -->

   <!-- <app-task *ngFor="let task of todo" [task]="task"></app-task> -->
   <!-- <div class="content-wrapper">
     <button (click)="newTask()" mat-button>
       <mat-icon>add</mat-icon> Add Board
     </button> -->

 <!-- </div> -->
 <!-- </div> -->
 <!-- <div class="wrap"> -->
  <!-- <div class="search"></div> -->
  <!-- <mat-toolbar color="primary">

   </mat-toolbar>

   <div class="content-wrapper">
     <button (click)="newTask()" mat-button>
       <mat-icon>add</mat-icon> Add Task
     </button>
    </div>


 <div class="container-wrapper">

  <div class="container">
    <mat-card>
      <app-task *ngFor="let task of todo" [task]="task"></app-task> -->
      <!-- <app-task (edit)="editTask('todo', $event)" *ngFor="let task of todo"></app-task> -->
    <!-- </mat-card> -->


  <!-- <app-task (edit)="editTask('todo', $event)" *ngFor="let task of todo | async" cdkDrag [task]="task"></app-task> -->

  <!-- </div> -->
 <!-- <div class="content-wrapper">
  <button (click)="newTask()" mat-button>
    <mat-icon>add</mat-icon> Add Task
  </button>

  <div class="container-wrapper">
    <div class="container">
      ...
    </div>
</div> -->
