<mat-toolbar color="primary">
  <a class="navbar-brand" href="" style="text-decoration: none;"><mat-icon>whatshot</mat-icon>
    <h2>Planning man</h2></a>
  <div class = "btn_wrap">
  <a href="/login" style="text-decoration: none;"><button mat-raised-button>Sing in</button></a>
  <a href="/register" style="text-decoration: none;"><button mat-raised-button color="primary">Sing up</button></a>
  <mat-form-field>
    <mat-select [(value)]="selected">
      <mat-option value="EN">EN</mat-option>
    <mat-option value="RU">RU</mat-option>
    </mat-select>
  </mat-form-field>
</div>

</mat-toolbar>

